# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.whl
*.egg
*.egg-info/
dist/
build/
*.venv
uv/

# Environment variables
.env
.env.local
.env.production

# macOS related
.DS_Store

# Chrome Extension related
chrome-extension/build/
chrome-extension/dist/
chrome-extension/node_modules/
*.crx
*.pem
*.zip